.jumbotron {
	margin-bottom: 0px;
	background-color: #5b6571;
	padding-bottom: 0px;
}

.page-header {
	padding-bottom: 0px;
	border-bottom: 0px;
	color: #fff;
	text-align: center;
}

.navbar {
	margin-bottom: 0px;
}